body{
    background: #f0f0f0;

}
.main-image {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    text-align: center;
    img {
        max-width: 90%;
        margin: auto;
        border-radius: 20px;
    }

    .responsive-image{
        margin: auto;
        border-radius: 15px;
    }
}

.article {
    background-color: #FFF;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 1.5rem;
    padding-left: 4%;
    padding-right: 4%;
    color: #4b5496;
    border-radius: 15px 15px 0px 0px;
    
    li{
        font-size: 1.1rem;
        color: #000000;
        padding: 8px 0px;
        margin-left: 20px;
    }
    p {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        font-size: 1.1em;

    }
    h1 {
        margin-top: 20px;
        color: #000000;
        text-transform: uppercase;
    }
    h2 {
        text-align: left;
        font-size: 1.5em;
        color: #171d52;

    }

    h3 {
        margin-top: 20px;
        text-align: left;
        color: #000000;
    }

    .article-text {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1000px;
        color: #000000;  
    }
    
    .article-title {
        padding-top: 2rem;
        font-size: 2rem;
        text-align: left;   
    }
        
    
    .container-this-article {
        border: 1px solid #000;
        padding: 10px;
        margin: 20px;
        font-family: sans-serif;
        border-radius: 15px;
    }
    .this-article-title {
        font-weight: bold;
        font-size: 1.2em;
        margin-bottom: 10px;
        text-align: left;
        margin-left: 20px;
    }
    .this-article-list {
        list-style: disc;
        margin-left: 20px;
    }
    .article-division {
        padding: 2rem;
        width: 100%;
        max-width: 600px;
        margin: auto;
    }
    .container-second-image {
        margin: 1rem;
        padding: 25px 15px;
        margin: auto;
        
        img {
            width: 100%;
            max-width: 500px;
            border-radius: 20px;
        }
    }
    .article-division-second {

        border: 0.1rem dashed #4b5496;
        width: 90%;
        margin: 20px 0;
        align-self: center;
    }
    .button-container {
        margin: auto;
        padding: 20px 2em 60px 2em;
        button {
            align-self: flex-end;
            font-size: 30px;
            text-transform: capitalize;
            font-weight: lighter;
            bottom: 80px;
            height: 3.6rem;
        }
    }
}
.division-section {
    width: 100%;
    max-width: 90%;
    height: 3rem;
    top: -2rem;
    background: url(../images/Home/decoration/bg-articles.png);
    background-size: cover;
    background-position: bottom center;
    filter: brightness(200%); 
    margin: auto;
}
.Articles {
    padding: 30px 20px;
}

.image-desktop{
    display: none;
}

.image-mobile{
    display: block;
}

.article-banner img{
    border-radius: 15px;
    max-width: 1000px;
}


/*Desktop*/
@media (min-width: 750px) {

    
    

    .image-desktop{
        display: block;
    }

    .image-mobile{
        display: none;
    }

    .main-image {
        padding-top: 0;
        margin: 0;
        img {
            max-width: 100%;
            border-radius: 0px 0px 30px 30px;
        }

    
    }
    .article{
        max-width: 90%;
        margin: auto;
        margin-top: 30px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 5rem;
        h2 {
            text-align: left;
            padding: 3rem 0;
        }
        button {
            width: 16rem;
        }
    }

    .division-section {
        max-width: 90%;
        height: 4rem;
        position: relative;
        background: url(../images/Home/decoration/bg-articles-2.png);
        background-size: cover;
        background-position: bottom center;
        filter: brightness(200%); 
    }
}
